@model List<ApplicationCore.Models.GenreModel>

<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        @foreach (var genre in @Model)
        {
          <li><a class="dropdown-item" href="#">@genre.Name</a></li>
        }
      </ul>
    </li>
  </ul>
</div>